<link rel="stylesheet" href="/css/home.css" />
<h1>TODOS LOS PRODUCTOS</h1>
<div class="filterBox">
  <div class="filterTitle">
    <span><a href="/products/">Todos los productos con Paginate</a></span>
  </div>
  <br />

  <div class="filterproducts">
    <div class="filterOrder">
      <a href="/products/1/10/asc">Precio Ascendente</a><br /><a
        href="/products/1/10/desc"
      >Precio Descendente</a></div>

  </div>

  <div class="filterForm">

    <div class="item">

      <p></p>

    </div>

  </div>

  <hr />
</div>

<div id="boxPagesTop" class="boxPages">
  <div><a href="/products/{{prevPage}}">Atras</a></div>
  <div>Pagina {{page}}</div>
  <div><a href="/products/{{nextPage}}">Siguiente</a></div>
  <div>Paginas {{totalPages}}</div><div>Total de productos
    {{totalDocs}}</div>
</div>
<br />

<div class="listadoProductos" id="listadoProductos">

  {{#each payload}}
    <div class="items">
      <div id="title">{{this.title}}</div>
      <div class="imgThumb"><img src="{{this.thumbnails}}" /></div>
      <div class="line1">{{this.description}}</div>
      <div class="line2">$ {{this.price}}</div>
      <div class="line1">Categoria: {{this.category}}</div>
      <div class="line2">Stock: {{this.stock}}</div>
      <div class="line1">Codigo: {{this.code}}</div>
      <div class="line2">ID: {{this._id}}</div>
      <button class="btnAddCart" value="{{this._id}}">Agregar al carro</button>
    </div>
  {{/each}}
</div>
<div id="boxPagesBot" class="boxPages">
  <div><a href="/products/{{prevPage}}">Atras</a></div>
  <div>Pagina {{page}}</div>
  <div><a href="/products/{{nextPage}}">Siguiente</a></div>
  <div>Paginas {{totalPages}}</div><div>Total de productos
    {{totalDocs}}</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{! <script src="/socket.io/socket.io.js"></script> }}
<script src="/js/products.js"></script>